apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "loco.fullname" . }}-webrtc-config
  namespace: {{ include "loco.namespace" . }}
  labels:
    app.kubernetes.io/component: config
    app.kubernetes.io/part-of: lego-loco-cluster
    app.kubernetes.io/name: lego-loco-config
data:
  webrtc.json: |
    {
      "iceServers": []
    }
